[user]
	name = Martxel Lasa
	email = martxel@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
	br = branch
	ba = branch -a
	ci = commit --verbose
	co = checkout
	st = status
	di = difftool
	dc = difftool --cached
	aa = add --all
	pom = push origin master
	last = log -1 HEAD
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
