[user]
	name = Martxel Lasa
	email = martxel@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
[color]
	ui = true
	interactive = auto
[alias]
	br = branch
	ba = branch -a
	ci = commit --verbose
	co = checkout
	st = status
	di = difftool
	dc = difftool --cached
	aa = add --all
	pom = push origin master
	pod = push origin develop
	last = log -1 HEAD
	lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
